@charset "utf-8";
/* CSS Document */

/*---------------------

Global Changes

----------------------*/
.overlay {
	background-color: #fbfbfb;
	}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	}
p {
	font-family: 'Montserrat', sans-serif;
	}
.banner {
	background-color: #fff;
	border-radius: 3px;
	}
.box-shadow {
    -webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
}
.banner-content {
    padding: 20px 35px 30px 35px;
    margin-bottom: 35px;
}
.banner_wrap {
    background-size: cover;
    background-position: 50% 50%;
}

.button {
    background-color: #2E2E2E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
}
em {
	font-size: .8em;
	}
	
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
	
/**********top nav******************/
.top-nav p {
	font-size: .7em;
	padding-top: 2px;
	}
.top-nav {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
/*-----------------------
navbar
------------------------*/
.navbar-inverse {
    background-color: #fff;
	border-color: #fff;
}
.navbar {
    position: relative;
    min-height: 90px;
	margin-bottom: 0px;
	-webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
}
.navbar a {
	font-family: 'Montserrat', sans-serif; 
	text-transform: uppercase;
	}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    padding-top: 1.2%;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 29px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	    padding-top: 21px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 37px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 18px;
}
.navbar-inverse .navbar-nav>li>a {
    color: purple;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: green;
}
.icon-bar{
	color: purple;
	background-color: purple;
	}
.navbar-inverse .navbar-toggle {
	border-color: #fff;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #fff;
	
}
.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
}
@media only screen and (max-width: 767px) {
.navbar-header {
	-webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
	height: 90px;
	}
	}
/*--------------------
video hero
---------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


.header-container {
    width: 100%;
    height: 531px;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 0px;
	}
.hero h1{
	z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
	}
.type-it {
	z-index: 1000;
	color: #fff;
	position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.8em;
	}
.video-container{
	position: absolute;
	top: 0%;
	left:0%;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
video {
	position: absolute;
	opacity: .8;
	width: 100%;
}
 h3 {
	z-index: 1;
	text-align: center;
	}
	
	/*------------------
	about section 
	---------------*/
	
	.about {
		padding-top: 40px;
		}
		
		
	/*---------------------
	
	latest videos
	---------------------*/
.just-added h3 {
	padding-bottom: 20px;
	text-align: left;
}
.card {
    box-shadow:;
    transition: 0.3s;
    width: 100%;
    border-radius: 0px;
	margin-top: 20px;
	
}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img:hover {

	}
img {
    border-radius: 2px;

}

.container-card {
    padding: 16px 16px;
	background-color: #fff;
}
.category-text {
	text-transform: uppercase;
	font-weight: bold;
	}
	
	/*----------------
	most watched 
	------------------*/
.most-watched h3 {
	text-align: left;
	padding-bottom: 20px;
	padding-top: 30px;
	}
	
.most-watched-img {
    position: relative;
}
.most-watched-img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    overflow: hidden;
}

.container-card-most {
	padding: 0px 0px;
	background-color: #fff;
	margin-top: 15px;
	}

/*----------------------------
footer
----------*/
.footer {
	background-color: #fff;
	padding-top: 15px;
	margin-top: 20px;
	}
	
.footer p {
		font-size: .7em;
		}
.footer ul li {
	text-decoration: none;
	list-style: none;
	margin-left: -38px;
	}
	/*--------------
playlist
------------*/
.card-playlist {
    box-shadow:;
    transition: 0.3s;
    width: 95%;
    border-radius: 0px;
	margin-top: 20px;
}

.playlist h3 {
	text-align: left;
    padding-bottom: 20px;
    padding-top: 30px;
}
.card-playlist {
    box-shadow:;
    transition: 0.3s;
    width: 95%;
    border-radius: 0px;
	margin-top: 20px;
}
.container-card-playlist {
    padding: 8px 16px;
	background-color: #fff;
}