@charset "utf-8";
/* CSS Document */

/*---------------------

Global Changes

----------------------*/
.overlay {
	background-color: #f0f0f0;
	}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	}
p {
	font-family: 'Montserrat', sans-serif;
	}
.banner {
	background-color: #fff;
	border-radius: 3px;
	}
.box-shadow {
    -webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    -moz-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
    box-shadow: 4px 4px 7px 0 rgba(0,0,0,.24);
}
.banner-content {
    padding: 20px 35px 30px 35px;
    margin-bottom: 35px;
}
.banner_wrap {
    background-size: cover;
    background-position: 50% 50%;
}

.button {
    background-color: #2E2E2E;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 0px;
    cursor: pointer;
    margin-bottom: 15px;
    width: 100%;
}
em {
	font-size: .8em;
	}
/*-----------------------
navbar
------------------------*/

.nav {
	background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
    box-shadow: 0 0 20px rgba(0,0,0,.15);
	height: 100px;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
	padding-top: 25px;
}

/* Float the list items side by side */
ul.topnav li {
	float: right;
	}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.7s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #fff;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
	}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	ul.topnav{
		padding-top: 17px;
		}
	.nav{
		height: 80px;
		}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*--------------------
video hero
---------------------*/
.header-container {
	width: 100%;
	height: 550px;
	border-left: none;
	border-right: none;
	position:relative;
	padding: 20px;
	}
.video-container{
	position: absolute;
	top: 0%;
	left:0%;
	height: 100%;
	width: 100%;
	overflow:hidden;
}
video {
	position: absolute;
	opacity: .8;
	width: 100%;
}
 h3 {
	z-index: 1;
	text-align: center;
	}
	
	/*------------------
	about section 
	---------------*/
	
	.about {
		padding-top: 40px;
		}
		
		
	/*---------------------
	
	latest videos
	---------------------*/
.just-added h3 {
	padding-bottom: 20px;
	text-align: left;
}
.card {
    box-shadow:;
    transition: 0.3s;
    width: 100%;
    border-radius: 0px;
	margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 2px;

}

.container-card {
    padding: 8px 16px;
	background-color: #fff;
}
.category-text {
	text-transform: uppercase;
	font-weight: bold;
	}
	
	/*----------------
	most watched 
	------------------*/
.most-watched h3 {
	text-align: left;
	padding-bottom: 20px;
	padding-top: 30px;
	}
	
.most-watched-img {
    position: relative;
}
.most-watched-img {
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    overflow: hidden;
}

.container-card-most {
	padding: 2px 16px;
	background-color: #fff;
	}

/*----------------------------
footer
----------*/
.footer {
	background-color: #fff;
	padding-top: 15px;
	margin-top: 20px;
	}
	
.footer p {
		font-size: .7em;
		}
.footer ul li {
	text-decoration: none;
	list-style: none;
	margin-left: -38px;
	}